<h2>Edit Historical Landmark</h2>

<form method="POST" action="/landmarks/<%= @landmark.id %>">
    <input type="hidden" name="_method" value="PATCH" />
    <div>
        <label><%= @landmark.name%></label>
        <input type="text" name="landmark[name]" id="name" ></input>
    </div>
    <div>
      <h3>Year Completed:</h3>
      <%= @landmark.year_completed.to_s%>
      <input type="number" name="landmark[year_completed]" id="year_completed"></input>
    </div>
    <input type="submit" value="Edit Landmark">



</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
