<h2>All Historical Landmarks</h2>

<!-- add content here -->
<ul>
<%@landmarks.each do |landmark|%>
    <li><%= landmark.name %>, <%= landmark.year_completed %> - <a class="button" href="/landmarks/<%=landmark.id%>">Info</a></li>
<%end%>
</ul>

<a class="button" href="/landmarks/new">New Landmark</a>
<p></p>
<a class="button" href="/">Home</a>
