<h2>Create New Landmark</h2>

<form method="POST" action="/landmarks">
  <div>
      <h1>Name:</h1>
          <input type="text" name="landmark[name]" id="landmark_name" />
  </div>
  <div>
      <h1>Year Completed:</h1>
          <input type="text" name="landmark[year_completed]" id="landmark_year_completed" />
  </div>
  <div>
      <h1>Figures:</h1>
          <% @figures.each do |figure|%>
              <input type="checkbox" name="landmark[figure_ids][]" id="figure<%= figure.id %>" value="<%= figure.id %>"><%=figure.name%></input>
          <% end %>
  </div>
  <div>
      <h1>Create a new Figure:</h1>
          <h2>Name:</h2>
              <input type="text" name="figure[name]" id="new_figure" />
  </div>


  <input type="submit" value="Create New Landmark" />
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
